/*------------ BASICS ------------*/

body,
html {
  background-color: black;
}

h1,
.text-white {
  color: white;
  padding: 25px 0 0 0;
}

.container {
  padding: 5%;
}

/*------------ BACKGROUND ------------*/

.bg {
  height: 100vh;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -100;
}

/*------------ BUTTONS ------------*/
.btn.btn-primary {
  display: inline-block !important;
  color: white !important;
  background-color: black !important;
  border: 2px solid #fff !important;
  font-weight: bold !important;
  border-radius: 0px !important;
  text-align: center !important;
  outline: none !important;
  text-decoration: none !important;
  margin: 4px 4px 0 4px !important;
  box-shadow: none !important;
}

.btn.btn-primary:active,
.btn.btn-primary:hover {
  background-color: #004d1b !important;
}

/*------------ GOOGLE CHARTS ------------*/

.google-visualization-tooltip {
  width: 175px;
  border: 2px solid white !important;
  background-color: black !important;
  font-size: 10px !important;
  color: white !important;
  box-shadow: none !important;
}

div.google-visualization-tooltip > ul > li > span {
  color: white !important;
}

/*------------ NAVBAR ------------*/

.navbar-black {
  background-color: black;
  color: white;
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  color: white;
}

.navbar-expand .navbar-nav .nav-link:hover {
  background-color: #004d1b !important;
  color: white !important;
}

.navbar-img:hover {
  filter: brightness(0) saturate(100%) invert(20%) sepia(42%) saturate(2261%)
    hue-rotate(115deg) brightness(89%) contrast(101%);
}

/*------------ LOADING INDICATOR ------------*/

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay-text {
  width: 200px;
  height: 200px;
  margin: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

svg > path {
  fill: #004d1b;
}

.loading2_svg__st1 {
  animation: bounce 1.2s infinite;
}
.loading2_svg__st2 {
  animation: bounce 1.2s 0.1s infinite;
}
.loading2_svg__st3 {
  animation: bounce 1.2s 0.2s infinite;
}

/* Animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(50%);
  }
  60% {
    transform: translateY(-50%);
  }
  80% {
    transform: translateY(0);
  }
}

/*------------ FORMS ------------*/
label {
  color: white;
  text-align: right;
  padding-bottom: 0 !important;
}
